/*Patrocinadores*/
#patrocinadores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* espacio uniforme entre c/logo*/
  margin-top: 2rem;
}

#patrocinadores-container > div {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

/*Hover tarjeta*/
#patrocinadores-container > div:hover {
  transform: scale(1.02);
  background-color: #ffffff;
}

/*Imagen por patrocinador*/
#patrocinadores-container img {
  max-width: 160px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  opacity: 0.9;
  transition: all 0.3s ease;
}