@import url(./main.css);
@import url(./camisetaEscudo.css);
@import url(./jugadores.css);
@import url(./cancha.css);
@import url(./galeria.css);
@import url(./comisionDirectiva.css);
@import url(./campeonatos.css);
@import url(./patrocinadores.css);